<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AutoSaveTemp" value="false" />
    <add key="ExportUTF8" value="true" />
    <add key="TimeOffset" value="150" />
    <add key="ApproxTime" value="true" />
    <add key="ShortTimeShift" value="2" />
    <add key="LongTimeShift" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>